VAULT_ADDR="https://global-openbao.example.invalid:8200"
VAULT_TOKEN="<never-commit-family-infra-01-transit-token>"
VAULT_TRANSIT_SEAL_KEY_NAME="family-infra-01-autounseal"
VAULT_TRANSIT_SEAL_MOUNT_PATH="transit/"
VAULT_CACERT="/etc/openbao/tls/global-openbao-ca.crt"
VAULT_TLS_SERVER_NAME="global-openbao.example.invalid"
VAULT_SKIP_VERIFY="false"
