TRAEFIK_NAMESPACE="kube-system"
TRAEFIK_HELMCHARTCONFIG_NAME="traefik"
TRAEFIK_ACME_CERT_RESOLVER="letsencrypt"
TRAEFIK_ACME_EMAIL="<set-me>"
TRAEFIK_ACME_STORAGE_PATH="/data/acme.json"
TRAEFIK_ACME_DNS_PROVIDER="ovh"
TRAEFIK_ACME_DNS_RESOLVERS="1.1.1.1:53,8.8.8.8:53"
TRAEFIK_ACME_DNS_DELAY_BEFORE_CHECK="0"
TRAEFIK_ACME_CA_SERVER="<empty-for-production-or-set-staging-url>"
TRAEFIK_OVH_DNS_SECRET_NAME="traefik-ovh-dns-credentials"
